<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= username %></h1>
    <p>PostId: <%= postid %></p>
    <p>Title: <%= title %></p>
    <p>Body: <%= body %></p>
  </body>
</html>
